# Dependencies
node_modules

# Docker specific
Dockerfile*
docker-compose*
.dockerignore

# Git and version control
.git
.gitignore

# Secrets
.env
.dev.vars

# Documentation
README.md
LICENSE

# Local development
.vscode
.idea
Makefile
.editorconfig
coverage*