@import 'tailwindcss' source('../');
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #fcfcf9;
  --foreground: #14343b;
  --card: #fffffc;
  --card-foreground: #000000;
  --popover: #fffffc;
  --popover-foreground: #000000;
  --primary: #007b86;
  --primary-foreground: #ffffff;
  --secondary: #d7e0e2;
  --secondary-foreground: #14343b;
  --muted: #e3e9ea;
  --muted-foreground: #626e71;
  --accent: #e0efef;
  --accent-foreground: #000000;
  --destructive: #d06b00;
  --destructive-foreground: #000000;
  --border: #92a4a6;
  --input: #d1dad7;
  --ring: #3699a5;
  --chart-1: #0b9aa6;
  --chart-2: #4271af;
  --chart-3: #6ccbd5;
  --chart-4: #1e4475;
  --chart-5: #005e68;
  --sidebar: #f3f3ee;
  --sidebar-foreground: #000000;
  --sidebar-primary: #007b86;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fffffc;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #bac5c7;
  --sidebar-ring: #3699a5;
  --radius: 0.75rem;
  --letter-spacing: 0em;
  --font-sans: 'Rubik', Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Merriweather', Georgia, Cambria, 'Times New Roman', serif;
  --font-mono:
    'IBM Plex Mono', JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --shadow-color: 0 0% 0%;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur)
    var(--shadow-spread) hsl(var(--shadow-color) / var(--shadow-opacity));
}

.dark {
  --background: #191a1a;
  --foreground: #f8fafa;
  --card: #191a1a;
  --card-foreground: #ffffff;
  --popover: #121313;
  --popover-foreground: #ffffff;
  --primary: #32b9c6;
  --primary-foreground: #000000;
  --secondary: #3b4141;
  --secondary-foreground: #f8fafa;
  --muted: #2d3232;
  --muted-foreground: #a1a3a3;
  --accent: #18333a;
  --accent-foreground: #ffffff;
  --destructive: #de945f;
  --destructive-foreground: #000000;
  --border: #3e5559;
  --input: #26363a;
  --ring: #0099a6;
  --chart-1: #0b9aa6;
  --chart-2: #6986a0;
  --chart-3: #6ccbd5;
  --chart-4: #395065;
  --chart-5: #005e68;
  --sidebar: #1f2121;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #32b9c6;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #101111;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #344749;
  --sidebar-ring: #0099a6;
  --radius: 0.75rem;
  --letter-spacing: 0em;
  --font-sans: 'Rubik', Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Merriweather', Georgia, Cambria, 'Times New Roman', serif;
  --font-mono:
    'IBM Plex Mono', JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --shadow-color: 0 0% 0%;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur)
    var(--shadow-spread) hsl(var(--shadow-color) / var(--shadow-opacity));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-rehype-pretty-code-figure],
[data-rehype-pretty-code-figure] > pre {
  margin: 0;
  padding: 0;
}

[data-rehype-pretty-code-figure] > pre {
  width: 100%;
  overflow: auto;
  padding: var(--spacing);
  background-color: #efefef;
}
